body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
  background #7a0402
  background #ffffff
  color #999999
  margin: 0
  padding: 0
  height: 100%
  width 100%

  body
    .el-message
      z-index: 100000;
      position: absolute;
      top: 66%;
      background-color: transparent;
      border: none
      .el-message__content
          color #fff
          font-size 22px
